@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

//Colors

$color-blue: #020540;
$color-green: #75d7cb;
$color-orange: #fb630f;

//Fonts proximamente
$font-family-base: 'Noto Sans', sans-serif;